/.storage
.DS_Store
bower_components/
node_modules/
/ecommerce/cache
/ecommerce/composer.lock
/ecommerce/var/cache
/ecommerce/var/logs
/ecommerce/var/sessions
/ecommerce/install
/.docker/phpmyadmin/config.inc.php
