/.storage
.DS_Store
bower_components/
node_modules/
/ecommerce/cache
/ecommerce/vendor
/ecommerce/composer.lock
/ecommerce/modules
/ecommerce/override
/ecommerce/themes
/ecommerce/var/cache
/ecommerce/var/logs
/ecommerce/var/sessions
/ecommerce/app/config/parameters.php
