

themes/*/cache/*
themes/core.js.map
themes/core.js
themes/*-chunk.js
themes/*-chunk.js.map

# Install folder
/install-dev/theme/custom/*
!/install-dev/theme/custom/.gitkeep

# Config
config/xml/*
config/themes/*



# Themes, modules and overrides

modules/*

themes/*/
themes/classic
!themes/_core
!themes/_libraries





# Symfony

/bin/
/.web-server-pid
/app/Resources/geoip/GeoLite2-City.mmdb
/app/config/parameters.yml
/app/config/parameters.php
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/modules
/var/modules/*
!/var/modules/.gitkeep
/web/bundles/
